/**
More Info @: https://www.w3schools.com/css/css_website_layout.asp
**/

/**
A header is usually located at the top of the website (or right below a top navigation menu). It often contains a logo or the website name
**/
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
/**
A navigation bar contains a list of links to help visitors navigating through your website
**/
/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/**
The layout often depends on the target users. The most common layout is one (or combining them) of the following:
1-column (often used for mobile browsers).
2-column (often used for tablets and laptops).
3-column layout (only used for desktops).
Tip: To create a 2-column layout, change the width to 50%. To create a 4-column layout, use 25%, etc.
**/
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/**
The footer is placed at the bottom of your page. It often contains information like copyright and contact info.
**/
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

